# CMake crap
bin/
/build/

# IDE crap
cmake-build-debug
cmake-build-release
cmake-build-debug-coverage
.cache/
.idea

# Our crap
generated
ostis-web-platform/
sc-machine/

# Apple crap
# General
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*